* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// colors------------------------------------------------
$dark-color: #0D0B06;
$medium-color: #806A39;
$light-color: #CFC07D;
$blue-color: #5485FF;
$red-color: #520d0d;
$white-color: #FFFFFF;

// @media (max-width:767px) {

/*hero section --------------------------------------*/
.hero {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;

    header {
        display: flex;
        height: 50px;
        flex-grow: 1;
        background-color: $dark-color;
        align-items: center;
        justify-content: center;
        order: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        .logo {
            span {
                color: $light-color;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    img {
        /*image from pixabay.com, author: matthiasboeckel*/
        min-width: 100%;
        min-height: 100%;
        order: 2;
    }

    .hero_message {
        position: absolute;
        bottom: 200px;
        left: 0;
        right: 30%;
        color: $light-color;
        background-color: rgba(0, 0, 0, 0.7);
        // box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.7);// border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 20px;

        h1 {
            font-size: 45px;
            padding-bottom: 10px;
        }

        p {
            font-size: 15px;
            line-height: 130%;
        }
    }

    button {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        // background-color: rgba(0, 0, 0, 0.7);
        background-color: $red-color;
        color: $light-color;
        padding: 10px;
        // border: 2px solid $blue-color;
        border-radius: 10px;
        cursor: pointer;
    }
}

.icons {
    display: flex;
    height: 650px;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #CFC07D; */
    background-color: $white-color;
    padding-top: 100px;

    div {
        display: flex;
        flex-basis: 30%;
        padding: 0 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $white-color;

        i {
            font-size: 30px;
            color: $medium-color;
            padding-top: 30px;
        }

        h2 {
            padding: 10px 0 5px 0;
            color: $dark-color;
        }

        p {
            font-size: 16px;
            line-height: 130%;
            color: $dark-color;
        }
    }
}

.gallery-section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    .btn-part {
        display: flex;
        flex-basis: 50vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;

        .horizontal {
            display: flex;
            align-items: center;
            padding: 50px 0 20px 0;

            hr {
                height: 1px;
                width: 80px;
                background-color: $medium-color;
                border-radius: 50%;
            }

            i {
                font-size: 30px;
                color: $medium-color;
                padding: 0 15px;
            }
        }

        h1 {
            color: $dark-color;
        }

        p {
            font-size: 16px;
            line-height: 130%;
            padding: 20px 50px;
            color: $dark-color;
        }

        button {
            font-size: 15px;
            padding: 10px 15px;
            border-radius: 5px;
            // border: 2px solid $blue-color;
            border: none;
            color: $light-color;
            background-color: $red-color;
            cursor: pointer;
        }
    }

    .slider {
        display: flex;
        flex-basis: 50vh;
        /* width: 100%; */
        background-color: rgb(82, 13, 13);
        order: 2;
    }
}

.map-section {
    display: flex;
    height: 400px;
    width: 100vw;
    flex-direction: column;
    // padding-top: 70px;

    justify-content: flex-end;

    h1 {
        display: flex;
        justify-content: center;
        color: $medium-color;
        padding: 30px 0;
    }

    iframe {
        width: 100%;
        height: 70%;
    }
}

footer {
    display: flex;
    height: 300px;
    width: 100vw;
    background-color: $medium-color;
    flex-direction: column;
    align-items: center;

    address {
        display: flex;
        height: 70%;
        width: 80%;
        border-bottom: 1px solid $light-color;
        flex-wrap: wrap;
        padding: 5px 0;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: 35%;

            a {
                text-decoration: none;
                padding-top: 8px;
                color: $dark-color;
                font-weight: bold;
            }

            span {
                padding-top: 8px;
                color: $dark-color;
                font-weight: bold;
            }

            i {
                display: flex;
                padding: 9px;
                background-color: #fff;
                border-radius: 50%;
                width: 34px;
                font-size: 15px;
                text-align: center;
                background-color: $light-color;
                color: $red-color;
            }
        }
    }

    div {
        height: 50%;
        width: 80%;
    }
}

// }