*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// body {
//     overflow: hidden;
// }

// colors------------------------------------------------
$dark-color: #0D0B06;
$medium-color: #806A39;
$light-color: #CFC07D;
$blue-color: #5485FF;
$red-color: #520d0d;
$white-color: #FFFFFF;

// @media (max-width:767px) {

/*hero section --------------------------------------*/
.hero {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    header {
        display: flex;
        height: 50px;
        flex-grow: 1;
        background-color: $dark-color;
        align-items: center;
        justify-content: center;
        // order: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        .logo {
            span {
                color: $light-color;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .burger-menu {
            width: 50px;
            height: 50px;
            // background-color: $red-color;
            position: absolute;
            top: 0;
            right: 20px;
            line-height: 0;

            span {
                // color: $light-color;
                // font-size: 60px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(0deg);
                height: 3px;
                width: 50%;
                background-color: $light-color;
                border-radius: 1px;
                transition: .3s;
            }

            .top-line {
                top: 34%;
            }

            .bottom-line {
                top: 66%;
            }

            .forward-slash {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            .no-width {
                width: 0;
            }

            .backslash {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        nav {
            position: fixed;
            top: 50px;
            left: 0;
            width: 100vw;
            // height: calc(100vh - 50px);
            // min-height: calc(100vh - 50px);
            min-height: 100vh;
            background-color: $light-color;
            z-index: 1;
            // display: flex;
            padding-top: 10px;
            transition: .3s;

            ul {
                // display: flex;// flex-direction: column;
                // justify-self: flex-end;
                list-style-type: none;
                // height: 170px;
                width: 100%;
                text-align: right;
                padding-right: 50px;
                // border-bottom: 2px solid $medium-color;

                li {
                    padding: 10px 0;

                    &:nth-child(4) {
                        border-bottom: 1px solid $medium-color;
                    }

                    &:nth-child(7) {
                        border-bottom: 1px solid $medium-color;
                    }

                    span {
                        display: block;
                        text-align: center;
                        font-size: 14px;
                        color: $red-color;
                        font-weight: bold;
                    }

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        color: $dark-color;

                        i {
                            margin-left: 20px;
                            color: $medium-color;
                        }
                    }
                }
            }
        }

        .hide-nav {
            left: -100vw;
        }
    }

    .hero-container {
        display: flex;
        width: 100%;
        height: 100%;
        /*!image from pixabay.com, author: matthiasboeckel*/
        background-image: url("https://cdn.pixabay.com/photo/2019/09/13/19/53/table-corner-4474742_960_720.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;

        h1 {
            font-size: 60px;
            // padding-bottom: 10px;
            color: $red-color;
        }

        h2 {
            font-size: 30px;
            color: $dark-color;
            align-self: flex-end;
            padding-right: 40px;
        }

        p {
            font-size: 15px;
            line-height: 130%;
        }

        // img {
        //     /*!image from pixabay.com, author: matthiasboeckel*/
        //     min-height: 100%;
        //     min-width: 100%;
        //     // transform: translate(-50%, -50%);
        //     // order: 2;
        // }

        // .hero_message {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: flex-end;
        //     position: absolute;

        // h1 {
        //     font-size: 60px;
        //     // padding-bottom: 10px;
        //     color: $red-color;
        // }

        // h2 {
        //     font-size: 30px;
        //     color: $white-color;
        // }

        // p {
        //     font-size: 15px;
        //     line-height: 130%;
        // }
        // }

        button {
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            // background-color: rgba(0, 0, 0, 0.7);
            background-color: $red-color;
            color: $light-color;
            padding: 10px;
            // border: 2px solid $blue-color;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

.icons-section {
    display: flex;
    // height: 650px;
    height: 650px;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #CFC07D; */
    background-color: $white-color;
    // padding-top: 100px;
    padding: 20px 0 50px 0;

    article {
        display: flex;
        flex-basis: 30%;
        // padding: 0 50px;
        flex-direction: row;
        position: relative;
        overflow: hidden;

        .icons-container {
            display: flex;
            flex-basis: 100%;
            padding: 0 50px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $white-color;
            position: absolute;
            top: 0;
            left: 0;
            transition: .3s;

            i {
                font-size: 30px;
                color: $medium-color;
                padding-top: 30px;
            }

            h2 {
                padding: 10px 0 5px 0;
                color: $dark-color;
            }

            p {
                font-size: 16px;
                line-height: 130%;
                color: $dark-color;
                padding-bottom: 20px;
            }

            .icon-btn {
                position: absolute;
                bottom: 0;
                right: 40px;
                font-size: 25px;
                color: $medium-color;
                cursor: pointer;
                padding: 5px;
                // border: 2px solid $medium-color;// border-radius: 50%;
            }
        }

        .more-info {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 101vw;
            width: 100vw;
            height: 100%;
            padding: 0 50px;
            /*!image from pexels.com, author: Pixabay*/
            background-image: url(https://images.pexels.com/photos/162631/blacksmith-tools-shop-rustic-162631.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
            background-position: center 30%;
            background-size: cover;
            transition: .3s;

            p {
                display: flex;
                align-items: center;
                padding: 0 50px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);

                span {
                    display: block;
                    color: $light-color;
                }

                i {
                    position: absolute;
                    bottom: 15px;
                    right: 40px;
                    font-size: 25px;
                    color: $medium-color;
                    cursor: pointer;
                }
            }
        }

        .calendar {
            /*!image from pixabay.com, author: Amber_Avalona*/
            background-image: url(https://cdn.pixabay.com/photo/2017/05/06/14/49/january-2290045_960_720.jpg);
            background-position: center 30%;
            background-size: cover;
        }

        .satisfaction {
            background-color: $dark-color;
            /*!image from pixabay.com, author: johnhain*/
            background-image: url(https://cdn.pixabay.com/photo/2017/01/25/22/08/handshake-2009183_960_720.png);
            background-position: center 30%;
            background-size: 100% 100%;
            background-repeat: no-repeat;

        }

        .show {
            left: 0;
        }

        .hide {
            left: -130vw;
        }
    }
}

// .gallery-section {
//     display: flex;
//     width: 100vw;
//     height: 700px;
//     flex-direction: column;
//     justify-content: flex-end;
//     background-color: $light-color;
//     overflow: hidden;

//     .btn-part {
//         display: flex;
//         flex-basis: 50vh;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         order: 1;

//         h1 {
//             color: $dark-color;
//         }

//         p {
//             font-size: 16px;
//             line-height: 130%;
//             padding: 20px 50px;
//             color: $dark-color;
//         }

//         button {
//             font-size: 15px;
//             padding: 10px 15px;
//             border-radius: 5px;
//             // border: 2px solid $blue-color;
//             border: none;
//             background-color: $red-color;
//             cursor: pointer;

//             a {
//                 text-decoration: none;
//                 color: $light-color;
//             }
//         }
//     }

//     .slider {
//         display: flex;
//         flex-basis: 50%;
//         /* width: 100%; */
//         background-color: rgb(82, 13, 13);
//         /*!image from pexels.com, author: Engin Akyurt*/
//         background-image: url("https://images.pexels.com/photos/2092058/pexels-photo-2092058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
//         background-position: 0 50%;
//         background-size: 130% 100%;
//         background-repeat: no-repeat;
//         order: 2;
//     }
// }

.gallery-section {
    display: grid;
    // width: 100vw;
    padding-top: 20px;
    padding-bottom: 10px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 5px;
    grid-auto-flow: column dense;
    overflow-y: scroll;

    .img-mini-card {
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .first {
        grid-column: 1;
        grid-row: 1;
        grid-row-end: 2;
    }

    .second {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;

    }

    .third {
        grid-column: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        // transform: translateY(-135px);
    }

    .fourth {
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .fifth {
        grid-column: 5;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .sixth {
        grid-column: 2;
        // grid-row-start: 3;
    }

    .seventh {
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .eighth {
        grid-column: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

.map-section {
    display: flex;
    height: 300px;
    width: 100vw;
    flex-direction: column;
    // padding-top: 70px;
    justify-content: flex-end;
    overflow: hidden;

    h1 {
        display: flex;
        justify-content: center;
        color: $medium-color;
        padding: 30px 0;
    }

    iframe {
        width: 100%;
        height: 100%;
        border-top: 1px solid $dark-color;
        border-bottom: 1px solid $dark-color;
    }
}

footer {
    display: flex;
    height: 320px;
    width: 100vw;
    background-color: $medium-color;
    flex-direction: column;
    align-items: center;

    address {
        display: flex;
        height: 220px;
        width: 80%;
        border-bottom: 1px solid $light-color;
        flex-wrap: wrap;
        padding: 5px 0;
        position: relative;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // flex-grow: 1;
            width: 50%;

            a {
                text-decoration: none;
                padding-top: 8px;
                color: $dark-color;
                font-size: 14px;
                font-weight: bold;
            }

            span {
                padding-top: 8px;
                color: $dark-color;
                font-size: 14px;
                font-weight: bold;
            }

            i {
                display: flex;
                padding: 9px;
                background-color: #fff;
                border-radius: 50%;
                width: 34px;
                font-size: 15px;
                text-align: center;
                background-color: $light-color;
                color: $red-color;
            }
        }

        .footer-logo {
            background-color: $dark-color;
            // background-color: $red-color;
            border-radius: 50%;
            text-align: center;
            width: 140px;
            height: 140px;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(50%);

            span {
                color: $light-color;
                font-size: 25px;

            }
        }
    }

    .footer-socials {
        display: flex;
        height: 100px;
        width: 80%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        i {
            font-size: 22px;
            padding: 6px;
            color: $light-color;

            @media (max-width: 600px) {
                font-size: 18px;
            }
        }

        span {
            display: flex;
            display: block;
            font-size: 14px;
            padding: 5px 10px;
        }
    }
}

// }